# This file lists requirements needed to run the executables shipped
# by candig-schemas
#
# These requirements are read directly into setup.py, so specify them
# in the order that they should be in in setup.py
protobuf==3.3.0
