# This file lists requirements needed to run the executables shipped
# by ga4gh-schemas
#
# These requirements are read directly into setup.py, so specify them
# in the order that they should be in in setup.py
git+git://github.com/CanDIG/candig-common.git@master#egg=candig_common
protobuf==3.3.0
